@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

:root {
  --orange: #E55A54;
  --blue: #0C4475;
  --black: #222;
  --red: #DD2826;
  --grey: #666;
  --white: #F1F1F1;
}

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

html, body {
	font-family: "Segoue", sans-serif;
	line-height: 1.5rem;
	color: var(--grey);
  min-height: 100vh;
}

a {
	color: var(--black);
	text-decoration: none;
}

.container {
	width: 990px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
	margin: auto;
}

.clearfix {
	clear: both;
}

header {
	padding: 25px 0 15px;
  background: var(--white)
}

header h1 {
	color: var(--blue);
  font-size: 32px;
	margin-bottom:5px;
}

header p {
  color: var(--grey);
}

header span {
	color: var(--red);
}

main {
	padding: 30px 0;
  min-height: calc(100vh - 69px - 93px);
  background: var(--orange);
}

footer {
	padding: 20px;
	background: var(--white);
  border-bottom: 5px solid var(--red);
	text-align: center;
}

.search-form {
	display: block;
	margin-bottom: 15px;
  padding: 0 15px;
}

.search-wrap {
  display: inline-block;
  position: relative;
  width: 250px;
  max-width: 100%;
}

.search-field {
	width: 100%;
	padding: 15px;
	padding-right: 43px;
  font-size: 16px;
	background: rgba(255, 255, 255, 0.8);
	color: var(--black);
  border: none;
	border-radius: 100px;
  outline: none;
}

.search-btn {
	position: absolute;
  right: 10px;
	top: 9px;
	height: 32px;
	width: 32px;
	border: 0;
	cursor: pointer;
	zoom: 1;
	opacity: 0.65;
	background: transparent;
}

.search-btn:hover {
	opacity: 0.9;
}

.results li {
	padding: 15px;
	border-bottom: 1px #ccc dotted;
  background: var(--white);
  color: var(--grey);
	list-style: none;
	overflow: auto;
}

.results .subtitle {
  margin-bottom: 16px;
  font-size: 0.8em;
}

.list-left {
	float: left;
	width: 20%;
}

.list-left img {
	width: 100%;
	padding: 3px;
	border: solid #ccc 1px;
}

.list-right {
	float: right;
	width: 78%;
}

.cTitle {
	color: var(--red)
}

.buttons {
	margin-top: 25px;
}

.paging-button {
	background: var(--white);
	padding: 8px 13px;
	border: #ccc 1px solid;
	border-radius: 5px;
	color: var(--grey);
	margin-right: 10px;
	cursor: pointer;
}