:root {
  --orange: #E55A54;
  --blue: #0C4475;
  --black: #222;
  --red: #DD2826;
  --grey: #666;
  --white: #F1F1F1;
}

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

html, body {
	font-family: "Segoue", sans-serif;
	line-height: 1.5rem;
	color: var(--grey);
  min-height: 100vh;
}

a {
	color: var(--black);
	text-decoration: none;
}

.container {
	width: 990px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
	margin: auto;
}

header {
	padding: 25px 0 15px;
  background: var(--white)
}

header h1 {
	color: var(--blue);
  font-size: 32px;
	margin-bottom:5px;
}

header p {
  color: var(--grey);
}

header span {
	color: var(--red);
}

main {
	padding: 30px 0;
  min-height: calc(100vh - 69px - 93px);
  background: var(--orange);
}

footer {
	padding: 20px;
	background: var(--white);
  border-bottom: 5px solid var(--red);
	text-align: center;
}

.search-form {
	display: block;
	margin-bottom: 15px;
  padding: 0 15px;
}

.search-wrap {
  display: inline-block;
  position: relative;
  width: 250px;
  max-width: 100%;
}

.search-trigger {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.search-field {
	width: 100%;
	padding: 15px;
	padding-right: 43px;
  font-size: 16px;
	background: rgba(255, 255, 255, 0.8);
	color: var(--black);
  border: none;
	border-radius: 100px;
  outline: none;
}

.search-btn {
	position: absolute;
  right: 10px;
	top: 9px;
	height: 32px;
	width: 32px;
	border: 0;
	cursor: pointer;
	zoom: 1;
	opacity: 0.65;
  background: transparent;
}

.search-btn:hover, .search-trigger:hover {
	opacity: 0.9;
}

.results li {
	padding: 15px;
	border-bottom: 1px #ccc dotted;
  background: var(--white);
  color: var(--grey);
	list-style: none;
	overflow: auto;
  display: flex;
  justify-content: space-between;
}

.results .subtitle {
  margin-bottom: 16px;
  font-size: 0.8em;
}

.list-left {
  width: 40%;
  max-width: 330px;
  padding: 0 5px;
}

.list-left img {
  max-width: 100%;
}

.list-right {
  flex: 1 1 60%;
  padding: 5px;
  overflow: hidden;
}

.list-right > * {
  word-wrap: break-word;
}

.cTitle {
	color: var(--red)
}

@media (max-width: 768px) {
  .results li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list-left {
    width: 100%;
    text-align: center;
  }

  .list-right {
    width: 100%;
  }
}

.buttons {
	margin-top: 25px;
}

.paging-button {
	background: var(--white);
	padding: 8px 13px;
	border: #ccc 1px solid;
	border-radius: 5px;
	color: var(--grey);
	margin-right: 10px;
	cursor: pointer;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  transition: opacity 0.5s;
  display: none;
}

.loading.show {
  display: flex;
}

.loading.complete {
  opacity: 0;
}

.loading.complete .monster {
  animation: disapper 0.5s;
}

.monster {
  width: 110px;
  height: 110px;
  background-color: var(--orange);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  animation: jump 0.5s linear infinite;
}

.monster .eye {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.monster .eyeball {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: var(--blue);
  animation: eyes-move 0.5s ease-in-out infinite alternate;
}

.monster .mouth {
  width: 32%;
  height: 12px;
  border-radius: 12px;
  background-color: var(--white);
  margin-top: 15%;
}

.monster::before,
.monster::after {
  content: "";
  display: block;
  width: 20%;
  height: 10px;
  background-color: var(--blue);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-70%) rotate(45deg);
}

.monster::after {
  transform: translateX(-30%) rotate(-45deg);
}

@keyframes jump {
  0% {
    top: 0;
    transform: scale(1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  30% {
    top: -50px;
    transform: scale(1);
    box-shadow: 0 120px 50px rgba(0, 0, 0, 0.2);
  }
  60% {
    top: 0;
    transform: scale(1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  80% {
    top: 0;
    transform: scaleY(0.8) scaleX(1.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    top: 0;
    transform: scale(1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
}

@keyframes disapper {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0.01) rotate(360deg);
  }
}

@keyframes eyes-move {
  0%, 10% {
    transform: translateX(50%);
  }
  90%, 100% {
    transform: translateX(-50%);
  }
}